spring:
  config:
    import:
      classpath:variables/variable-prod.yml

  jpa:
    properties:
      hibernate:
        show_sql: false
        format_sql: false
        dialect: org.hibernate.dialect.MySQL8Dialect

  security:
    oauth2:
      client:
        registration:
          google:
            redirect-uri: "https://api.mait.kr/login/oauth2/code/google"

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false

logging:
  config: classpath:logger/logback-prod.xml
