name: complie-test

on:
  pull_request:
    branches: [ "develop" , "release", "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    env:
      SPRING_PROFILES_ACTIVE: test
      AWS_REGION: ap-northeast-2
    
    services:
      redis:
        image: redis:7
        ports:
          - 6379:6379
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Grant permission for gradlew
        run: chmod +x ./gradlew
        shell: bash

      - name: Run CheckStyle
        run: ./gradlew checkstyleMain checkstyleTest

      - name: Build with Gradle Wrapper
        run: ./gradlew build -x test

      - name: Run tests
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: ./gradlew test
